In [10]:
## 2. Create a list of at least 5 elements of mixed data types
    #replace a part of it with something else
    #append or insert several more items to the list
    #find and print the length of the list
    #slice a sub-section of the 1st list, and save it to a different 2nd list
    #print the 2nd list
    #extend your original list with the 2nd list sliced above
    #Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean.
    #sort "simList", and print the list
    #copy the "simList" list to another 3rd list
    #add the 2nd and 3rd lists together into a 4th list

L = [36, "Danielle", 63.25, ["Lasagna", "Tacos", "Breakfast Bowls"]]
L[0] = 25
L.append("Air Force")
L.insert(2, "Snyder")
L.insert(4, "Maryland")
print(len(L))

L2 = L[2:5] #slice a sub-section of the 1st list, and save it to a different 2nd list
print(L2)
L.extend(L2) #extend your original list with the 2nd list sliced above


simList = ["Starfish", "Crabs", "Shark", "Sea Turtle", "Mermaid"]
simList.sort()
print(simList)

simList2 = simList
simList3 = simList
simList4 = simList2 + simList3

7
[25, 'Danielle', 'Snyder', 63.25, 'Maryland', ['Lasagna', 'Tacos', 'Breakfast Bowls'], 'Air Force']

In [1]:
## 3. Create a tuple of about 5 elements
    #multiply your tuple by 3 and save it to a new 2nd tuple
    #access and print the 12th element from the 2nd tuple
    #sort the 2nd tuple and print it
    #copy 4 specific elements from your 2nd tuple to a new 3nd tuple
    #unpack the 3rd tuple into 4 variables and print these variables
    #create a 4th tuple with single item 50 and print this tuple
    #add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

T = ("Starfish", "Crabs", "Shark", "Sea Turtle", "Mermaid")

T2 = T * 3 #T2 is my 2nd tuple.
print(T2[12])
print(sorted(T2))

T3 = ("Starfish", "Crabs", "Shark", "Sea Turtle")
a, b, c, d = T3 #unpacking tuple.
print(T3)

T4 = (50)
print(T4)

T5 = T2 + T3
print (T5)

Shark
['Crabs', 'Crabs', 'Crabs', 'Mermaid', 'Mermaid', 'Mermaid', 'Sea Turtle', 'Sea Turtle', 'Sea Turtle', 'Shark', 'Shark', 'Shark', 'Starfish', 'Starfish', 'Starfish']
('Starfish', 'Crabs', 'Shark', 'Sea Turtle')
50
('Starfish', 'Crabs', 'Shark', 'Sea Turtle', 'Mermaid', 'Starfish', 'Crabs', 'Shark', 'Sea Turtle', 'Mermaid', 'Starfish', 'Crabs', 'Shark', 'Sea Turtle', 'Mermaid', 'Starfish', 'Crabs', 'Shark', 'Sea Turtle')

In [7]:
## 4. Create a set of about 3 elements
    #add a list of fruits to the above set and print the result
    #add a car element to your set
    #create a 2nd set with a few odd items
    #save the union of 1st set and 2nd set to a 3rd set
    #pop an element from the 2nd set, and print the remainder of the set
    #clear the 1st set and print the result
    #discard an element, and remove another element from the 3rd set
    #print the remainder of the 3rd set

S = {"blueberries", "raspberries", "cherries"}
S.add("grapefruit")
S.add("lemon")
S.add("lime")

print(S)

S.add("car")

S2 = {"boat", "plane", "tractor"}

S3 = S.union(S2)

S2.pop()
print(S2)

S.clear()

S3.remove("grapefruit")
S3.discard("car")
print(S3)
print(S)

{'lime', 'lemon', 'cherries', 'blueberries', 'raspberries', 'grapefruit'}

In [8]:
## 5. Create a dictionary with at least 5 values of different data types
    #print out 1 value
    #replace any one value in your dictionary with your name
    #add your favorite color to the dictionary
    #add a list, tuple or set to your dictionary
    #print a list of the dictionary keys
    #print a list of the dictionary values
    #copy your 1st dictionary into a 2nd dictionary
    #pop an item from the 2nd dictionary, and print the dictionary
    #remove all the elements from the 2nd dictionary and print the result

D = {"age": 36, "lastname": "Danielle", "height": 63.25, "state": "MD", "education": "MS"}

X = D.get("name")   
print(X)

D.pop("lastname")
D.update({"firstname": "Danielle"})
D.update({"favorite color": "green"})
D["favoritefood"] = "lasagna"

Key = D.keys()
print(Key)
Value = D.values()
print(Value)

D2 = D

D2.pop("age")
print(D2)

D2.clear()
print(D2)

Danielle