In [11]:
# 1. Create an if statement: 
    # if 'age' is greater than or equal to 25, 
        # print "Renting a car is more affordable", 
    # however if 'age' is less than 25, 
        # print "Renting a car is very expensive."

age = 36

if age > 25:
    print("Renting a car is more affordable")
elif age < 25:
    print ("Renting a car is very expensive")

Renting a car is more affordable

In [12]:
# 2. Create and chain an if-else statement: 
    # if 'age' is greater than or equal to 25, 
        # print "Renting a car is more affordable." 
    # If 'age' is less than 25 but greater than or equal to 18, 
        # print "Renting a car is very expensive." 
    # Finally, if age is less than 18, print "You cannot legally rent a car."

age = 36


if age > 25:
    print("Renting a car is more affordable")
    if age < 25 or age >= 18:
        print("Renting a car is very expensive")
elif age < 18:
    print("You cannot legally rent a car")

Renting a car is more affordable
Renting a car is very expensive

In [19]:
# 3. Loop over the following string to 
# (1) count all the characters in the string and 
# (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

quote = "The quick brown fox jumps over the lazy dog"

print(len(quote))

for letter in quote:
    if letter in 'aeiou':
        print(letter)

43
e
u
i
o
o
u
o
e
e
a
o

In [21]:
# 4. Write a nested loop that prints out every piece of clothing from the couture list, 
    # in every fashionable color from the panettone set: 
    # couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] 
    # and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] 
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"} 

for x in panettone:
    for y in couture:
        print(x, y)

burnt sienna trousers
burnt sienna blouse
burnt sienna bandana
burnt sienna cumber band
burnt sienna blazer
burnt sienna vest
burnt sienna french beret
burnt sienna scarf
burnt sienna stole
cerise trousers
cerise blouse
cerise bandana
cerise cumber band
cerise blazer
cerise vest
cerise french beret
cerise scarf
cerise stole
fuchsia trousers
fuchsia blouse
fuchsia bandana
fuchsia cumber band
fuchsia blazer
fuchsia vest
fuchsia french beret
fuchsia scarf
fuchsia stole
Dark Sapphire trousers
Dark Sapphire blouse
Dark Sapphire bandana
Dark Sapphire cumber band
Dark Sapphire blazer
Dark Sapphire vest
Dark Sapphire french beret
Dark Sapphire scarf
Dark Sapphire stole
maple trousers
maple blouse
maple bandana
maple cumber band
maple blazer
maple vest
maple french beret
maple scarf
maple stole
auburn trousers
auburn blouse
auburn bandana
auburn cumber band
auburn blazer
auburn vest
auburn french beret
auburn scarf
auburn stole
aqua trousers
aqua blouse
aqua bandana
aqua cumber band
aqua blazer
aqua vest
aqua french beret
aqua scarf
aqua stole
gunmetal blue trousers
gunmetal blue blouse
gunmetal blue bandana
gunmetal blue cumber band
gunmetal blue blazer
gunmetal blue vest
gunmetal blue french beret
gunmetal blue scarf
gunmetal blue stole

In [25]:
# 5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

sum = 0 

for x in range(1,101):
    sum += x
print(sum)

5050

In [38]:
# 6. Print the second item in this fruits list. 
    # ["apple", "banana", "cherry"]

fruit = ["apple", "banana", "cherry"]

print(fruit[1])

banana

In [41]:
# 7. Change the value from "apple" to "kiwi", in the fruits list. 
    # ["apple", "banana", "cherry"]

fruit = ["apple", "banana", "cherry"]

if "apple" in fruit:
    print("kiwi")

#or...
fruit[0] = "kiwi"
print(fruit)

kiwi
['kiwi', 'banana', 'cherry']

In [42]:
# 8. Use the append method to add "orange" to the fruits list. 
    # ["apple", "banana", "cherry"]

fruit = ["apple", "banana", "cherry"]

fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

In [43]:
# 9. Use the insert method to add "lemon" as the second item in the fruits list. 
    # ["apple", "banana", "cherry"]

fruit = ["apple", "banana", "cherry"]

fruit.insert(1, "lemon")
print(fruit)

['apple', 'lemon', 'banana', 'cherry']

In [44]:
# 10. Use the remove method to remove "banana" from the fruits list. 
    # ["apple", "banana", "cherry"]

fruit = ["apple", "banana", "cherry"]

fruit.remove("banana")
print(fruit)

['apple', 'cherry']

In [52]:
# 11. Use negative indexing to print the 3rd and 2nd to last items in the list. 
    # ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(fruit[-2])
print(fruit[-3])

melon
kiwi

In [58]:
# 12. Use a range of indexes to print the third, fourth, and fifth item in the list. 
    # ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[2:5])

['cherry', 'orange', 'kiwi']

In [59]:
# 13. Use the correct syntax to print the number of items in the list. 
    # ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(len(fruit))

7

In [62]:

# 14. Use the correct syntax to sort this list in reverse order 
    # ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruit.sort(reverse=True)
print(fruit)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [64]:
# 15. Use the DateTime module to get Current Date and Time, and save it to a variable. 
    # Then extract just the Full month name form that variable.

import datetime

x = datetime.datetime.now()
print(x)

print(x.strftime("%B"))

2022-11-18 20:17:02.292827
November

In [79]:
# 16. Write a simple function that takes 2 parameters -- a first name and a day name.
    # Set a default value for the day name of Sunday.
    # Have the function print out a greeting 
        # Using the parameters, that says something like "Hi first-name! Happy day-name!". 
        # Remember to use the variables in the greeting to replace first-name and day-name.
    # Invoke this function with 2 variables.
    # Invoke this function with 1 variable only.

#2 variables (name, day)
def greetings (name, day):
    print("Hi", name + "!", "Happy", day + ".")

greetings(name="Danielle", day="Sunday")

#1 variable (nd)
def greet (name):
    print("Hi", name + "! Happy Sunday.")

greet(name = "Danielle")

Hi Danielle! Happy Sunday.
Hi Danielle! Happy Sunday.

In [83]:
# 17. Import NumPy, use one of the NumPy methods and create an array with a shape of ... (2, 3, 2). 
    # You can use the reshape method -- .reshape()

import numpy as np

array1 = np.array (
    [
        [[1,2], [3,4], [5,6]],
        [[1,2], [3,4], [5,6]]
    ]
)
print(array1.shape)

(2, 3, 2)